*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%
}

body{
    margin: 0px;
    font-family: sans-serif;
    height: 100%
}

nav{
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: blue;
    padding: 0 20px;
    z-index: 1;
}
.nav-right{
    display: flex;
    margin-left: auto
}

li{
    list-style: none;
    color: white;
    padding: 10px;
    margin-top: 7px;
    font-size: 100%;
}

li a{
    color: white;
    text-decoration: none;
}

#dasboard{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 0;
  background-color: #93c2df; 
  /* background-color: blue; */
  /* border-top:1px solid white; */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#avatar{
    margin-left: 30px;
}
#dasboard a{
    /* border-bottom: 1px solid white; */
    color: blue;
}

#pic{
    border-radius: 50%;
    margin-left: 10px;
}

h2{
    font-weight: lighter;
    margin-bottom: 2px;
}

h3{
    font-size: 10px;
}

a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#view-party{
    margin: auto;
    margin-top: 10%;
    margin-left: 15%; 
    /* Same as the width of the sidebar */
    /* padding: 0px 50px */
    padding-left: 20px
}

.political-party{
    border: 1px solid red;
    display: flex;
}

.parties{
    margin: 10px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

img{
    padding-left: 5%;
    object-fit: cover;
}




@media screen and (max-width: 700px) {
    nav{
        position: relative;
    }
    #dasboard {
      width: 100%;
      height: auto;
      position: relative;
      top: 0%;
    }
    #dasboard a {float: left;}
    #view-party {margin-left: 0;}

    #view-party{
        margin-left: 3%
    }

}
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    #dasboard a {
      text-align: center;
      float: none;
    }
  }