*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%
}

body{
    margin: 0px;
    font-family: sans-serif;
    height: 100%
}

nav{
    display: flex;
    width: auto;
    height: 50px;
    background-color: blue;
    padding: 0 20px;
}
.nav-right{
    display: flex;
    margin-left: auto
}

li{
    list-style: none;
    color: white;
    padding: 10px;
    margin-top: 7px;
    font-size: 100%;
}

li a{
    color: white;
    text-decoration: none;
}

#dasboard{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 0;
  background-color:#93c2df; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#avatar{
    margin-left: 30px;
}

#pic{
    border-radius: 50%;
    margin-left: 10px;
}

h2{
    font-weight: lighter;
    margin-bottom: 2px;
}

h3{
    font-size: 10px;
}

a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#view-party{
    margin-left: 20%; 
    /* Same as the width of the sidebar */
    padding: 0px 10px
}

table{
    text-align: center;
    padding: 20px;
}

#grid-party{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.party-image{
    
    margin: 10px
}
h3{
    display: inline;
    text-align: center
}
.party-list{
    display: inline;
    border: 1px solid red;
    margin: auto;
    margin-left: 20px;
    /* margin-right: 20px; */
    padding: 20px
}

/* voting page */
.right{
    margin-left: auto;
    margin-right: 5px;
}

.vote{
    position: absolute;
    top:10%;
    left:50%
}

input{
    margin: 5px;
    margin-left: 5px;
    padding: 5px;
}

button{
    text-align: center;
    margin:10px;
    letter-spacing: 1px;
    border-radius: 5px;
    border-color:none;
    background-color:none;
    cursor: pointer;
}

button:hover{
    border: 3px;
    font-size: 15px;
    font-weight: bolder;
}

h2{
    font-size: 16px
}

.vote-result{
    position: absolute;
    top: 5%;
    left:1%;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

table{
    margin: 10px;
}

tr{
    margin: 10px;
    padding: 10px;
}

td{
    margin: 10px;
    padding: 10px;
}

.img{
    height: 20px;
    position: relative;
    top: 5px;
    left:5px;
    right: 10px;
}

@media screen and (max-width: 700px) {
    #dasboard {
      width: 100%;
      height: auto;
      position: relative;
      top: 0%;
    }
    #dasboard a {float: left;}
    div.content, {margin-left: 0;}

    .vote{
        position: relative;
        top:5%;
        left:10%
    }
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    #dasboard a {
      text-align: center;
      float: none;
    }
  }