*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%
}

body{
    margin: 0px;
    font-family: sans-serif;
    height: 100%
}

nav{
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: blue;
    padding: 0 20px;
    z-index: 1;
}
.nav-right{
    display: flex;
    margin-left: auto
}

li{
    list-style: none;
    color: white;
    padding: 10px;
    margin-top: 7px;
    font-size: 100%;
}

li a{
    color: white;
    text-decoration: none;
}

#dasboard{
  height: 100%;
  width: 160px;  
   position: fixed;
  z-index: 1;
   top: 50px;   
   left: 0;
  background-color: #93c2df; 
  overflow-x: hidden; 
  padding-top: 20px;
}

#avatar{
    margin-left: 30px;
}
#dasboard a{
    /* border-bottom: 1px solid white; */
    color: blue;
}
#pic{
    border-radius: 50%;
    margin-left: 10px;
}

h2{
    font-weight: lighter;
    margin-bottom: 2px;
}

h3{
    font-size: 10px;
}

a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
}

h2{
    margin: auto;
    margin-top: 5px;
    letter-spacing: 1px;
    color: black;
}

.form-group{
    border:1px solid blue;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
    margin-left: 30%;
    width: 400px;
    border-radius: 5px;
    text-align: center;
}



input, textarea{
    width: 70%;
    height: 40px;
    margin: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid blue
    /* background-color: red */
}

textarea{
    height: 100px;
}

button{
    width:70%;
    height: 30px;
    margin:10px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: blue;
    border: none;
    color: white
}

button:hover{
    font-weight: bolder
}


@media screen and (max-width: 700px) {
    nav{
        position: relative;
    }
    #dasboard {
      width: 100%;
      height: auto;
      position: relative;
      top: 0%;
    }
    #dasboard a {float: left;}
    div.form-group, {margin-left: 0;}

    #view-party{
        margin-left: 1%
    }

    .vote{
        margin-left: 3%
    }

    .form-group {
        margin-left: 3%;
        width: 70%;
        margin-top: 20%;
    }
  }
  
  
  @media screen and (max-width: 400px) {
    #dasboard a {
      text-align: center;
      float: none;
    }
  }