body{
    text-align: center;
    margin: 0px;
}

nav{
    margin: 0px;
    width: auto;
    height: 30px;
    padding: 5px;
    background-color: blue;
}

nav li {
    list-style: none;
    display: inline;
    margin: 10px;
    letter-spacing: 2px;
    font-weight: bold
}
.toggle-btn{
    transition: all 500ms linear;
    display: none;	
}
.toggle-btn span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
}

.right {
    float: right;
}

#left{
    float: left;
}

li a{
    text-decoration: none;
    color: white;
}

h2{
    margin: auto;
    margin-top: 10%;
    letter-spacing: 1px;
    color: black;
}

#form-group{
    /* position: absolute;
    top: 40%;
    left: 40%; */
}



input{
    width: 250px;
    height: 20px;
    border: none;
    margin: 10px;
    padding-left: 5px;
    /* background-color: red */
}

button{
    width:250px;
    margin:10px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: blue;
    border: none;
    color: white
}

button:hover{
    font-weight: bolder
}

@media only screen and (max-width: 768px) {
    nav{
        margin: auto;
    }

    .toggle-btn{
		align-self: flex-end;
		display: initial;
        position: absolute;
        left:80%;
        cursor: pointer;
        
    }
    h2{
       
    }
    #form-group{
        margin: auto;
        /* position: absolute;
        top: 40%;
        left: 18%; */
    }
    
    

}