*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%
}

body{
    margin: 0px;
    font-family: sans-serif;
    height: 100%
}

nav{
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 0 20px;
    z-index: 1;
}
.nav-right{
    display: flex;
    margin-left: auto
}

li{
    list-style: none;
    color: white;
    padding: 10px;
    margin-top: 7px;
    font-size: 100%;
}

li a{
    color: white;
    text-decoration: none;
}

#dasboard{
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 50px; 
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); 
  /* background-color: black; */
  /* border-top:1px solid white; */
  overflow-x: hidden; 
  padding-top: 20px;
}

#avatar{
    margin-left: 30px;
}
#dasboard a{
    /* border-bottom: 1px solid white; */
    color: black;
}

#pic{
    border-radius: 50%;
    margin-left: 10px;
}

h2{
    font-weight: lighter;
    margin-bottom: 2px;
}

h3{
    font-size: 10px;
}

a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#view-party{
    margin: auto;
    margin-top: 10%;
    margin-left: 20%; 
    /* Same as the width of the sidebar */
    padding: 0px 10px
}

table{
    text-align: center;
    padding: 20px;
    background-color: red
}

#grid-party{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.party-image{
    
    margin: 10px;
}

h3{
    display: inline;
    text-align: center
}
.party-list{
    display: inline;
    /* border: 1px solid red; */
    margin: auto;
    margin-left: 20px;
    /* margin-right: 20px; */
    padding: 20px
}



h4{
    border: 1px solid black;
    display: inline;
}
/* voting page */
.right{
    margin-left: auto;
    margin-right: 5px;
}

.vote{
    display: flex;

    flex-direction: column;
    margin:10px;
    padding: 5px;
    margin-top: 5%;
    margin-left: 20%;
}
.vote a{
    color: black;
    display: inline;
    border: 1px solid gray;
}

.formvote{
    display: inline;
    margin: 20px;
    padding: 10px;
    /* width: 300px; */
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
form{
    display: none;
}

form:hover{
    /*font-weight: bolder;*/
}

.h2{
    margin: 5px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

input{
    margin: 5px;
    margin-left: 5px;
    padding: 5px;
}

button{
    text-align: center;
    margin:10px;
    letter-spacing: 1px;
    border-radius: 5px;
    border-color:none;
    background-color:none;
    cursor: pointer;
}

button:hover{
    /*border: 3px;*/
    /*font-size: 15px;*/
    font-weight: bolder;
}

h2{
    font-size: 16px
}

.vote-result{
    position: absolute;
    top: 5%;
    left:1%;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

table{
    margin: 10px;
}

tr{
    margin: 10px;
    padding: 10px;
}

td{
    margin: 10px;
    padding: 10px;
}

.img{
    height: 20px;
    position: relative;
    top: 5px;
    left:5px;
    right: 10px;
}
.edit{
    color: red
}

.profile input {
    display: block
}


#grid-party{
    display: grid;
    margin-left: 20%;
    margin-top: 10%;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 100px;
    grid-auto-rows: 200px;     
}


#grid-party div{
    border: 1px solid rgba(0,0,0,.5);
    margin: 10px;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}

.grid{
    color:rgb(227, 227, 250);
    display: inline;
    font-size: 10px
}
@media screen and (max-width: 1024px) {
    nav{
        position: relative;
    }
    #dasboard {
      width: 100%;
      height: auto;
      position: relative;
      top: 0%;
    }
    #dasboard a {float: left;}
    div.content {margin-left: 0;}

    #view-party{
        margin-left: 1%;
    }

    .vote{
        margin-left: 3%;
        flex-direction: column;
    }

    form {
        margin-left: 3%;
    }

  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    #dasboard a {
        text-align: center;
        float: none;
    }

  }