body{
    text-align: center;
    font-family: sans-serif;
    margin: 0%;
}


nav{
    margin: 0 0px 5px 0px;
    width: auto;
    height: 40px;
    padding: 5px;
    background-color:blue;
}

nav li {
    list-style: none;
    display: inline;
    margin: 10px;
    letter-spacing: 2px;
    font-weight: bold
}

.right {
    float: right;
}

#left{
    float: left;
}

li a{
    text-decoration: none;
    color: white;
}
#form-div{
    margin: auto;
    border: 1px solid rgba(0, 0, 255, 0.4);
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5%;
    width: 500px;
    border-radius: 5px;
    margin-bottom: 2%;
    
}
h2{
    color: blue;
}

.form{
    margin: 10px;
    
}



input{
    width: 70%;
    height: 40px;
    margin: 10px;
    padding: 5px 10px;
    /* padding-left: 5px; */
    border-radius: 5px;
    border: 1px solid blue
    /* background-color: red */
}


select{
    background: transparent;
    line-height: 1;
    border: 1px solid blue ;
    padding: 10px;
    border-radius: 0;
    width: 75%;
    height: 40px;
    position: relative;
    z-index: 10;
    font-size: 1em;
}
button{
    width:70%;
    margin:10px;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: blue;
    border: none;
    color: white
}
button:hover{
    border: 3px;
    font-size: 15px;
    font-weight: bolder;
}