html{
    height: 100%;
}

body{
    /* font-family: sans-serif;
    background-image: url(../images/vote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    font-family: sans-serif;
    height: 100%;
    margin: 0px;
}
nav{
    margin: 0px;
    width: auto;
    height: 40px;
    padding: 5px;
    background-color:blue;
}

nav li {
    color: white;
    list-style: none;
    display: inline;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 10px
}

#left{
    float: left;
}

.right {
    float: right;
}

li a, li a:active{
    text-decoration: none;
    color: white;
}
#form-group{
    margin-top: 100px;
    text-align: center;
}

/* #p{
    position: absolute;
    top:90%;
    left: 33%
}
p{  position: absolute;
    top:60%;
    left: 40%
} */

.form{
    margin: 10px;
    text-align: center;
}

input{
    width: 250px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    margin: 5px;
    /* background-color: red */
}

button{
    width:250px;
    margin:10px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: blue;
    border: none;
    color: white
}

h2{
    text-align: center
}

@media only screen and (max-width: 768px) {
    body{
        font-family: sans-serif;
        background-image: url(../images/vote.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    li{
        color: white;
    }
    
    h2,p{
        color: white;
    }

}